<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ajax Simples</title>
    {# UTILIZAREMOS OS CÓDIGOS ABAIXO VIA CDN #}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h3>Formulário: Ajax Simples no Django</h3>

<form>
    {% csrf_token %}
    <label>Nome</label>
    <input type="text" name="nome" id="nome" onkeyup="meuAjax()"> {# Criamos um input com uma ação onkeydown para chamar no ajax #}
</form>

<div class="sucesso">

    Área de retorno: <span id="retorno"></span>

</div>

<script>
{# iniciamos a nossa requisição via ajax #}
function meuAjax(){
    var campoNome =  document.getElementById('nome').value;
    $.ajax({
        url:"{% url 'ajax' %}",
        type: 'GET',
        data:{
            nome: campoNome,
        },
        success: function(msg){
           document.getElementById("retorno").innerHTML = msg;
        }
    });
}
</script>

</body>
</html>